* {
    padding: 0;
    margin: 0;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.teamimage {
    width: 50vw;
    height: 100vh;
    background-image: url(https://uicookies.com/demo/theme/pixels/img/slider_6.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.head1 {
    color: white;
}

.text {
    width: 50vw;
    height: 100vh;
    background-color: #161c2e;
    text-align: left;
    padding: 15vh 7vw 0 7vw;
}

.text1 {
    color: #3c4655;
    padding: 10px 0;
}

@media (min-width:769px) and (max-width:1000px) {
    .maincontainer {
        display: flex;
        flex-direction: column;
        height: 180vh;
        width: 100%;
    }

    .teamimage {
        width: 100%;
        height: 80vh;
        background-image: url(https://uicookies.com/demo/theme/pixels/img/slider_6.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        bottom: 100vh;
    }

    .text {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 80vh;
    }
}
@media (min-width:426px) and (max-width:768px) {
    .maincontainer {
        display: flex;
        flex-direction: column;
        height: 180vh;
        width: 100%;
    }

    .teamimage {
        width: 100%;
        height: 80vh;
        background-image: url(https://uicookies.com/demo/theme/pixels/img/slider_6.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        bottom: 100vh;
    }

    .text {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 80vh;
    }
}
@media (min-width:300px) and (max-width:425px) {
    .maincontainer {
        display: flex;
        flex-direction: column;
        height: 180vh;
        width: 100%;
    }

    .teamimage {
        width: 100%;
        height: 80vh;
        background-image: url(https://uicookies.com/demo/theme/pixels/img/slider_6.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        bottom: 100vh;
    }

    .text {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 80vh;
    }
}